/*------------ common shared styles -----------------*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    width: 85%;
}

.section-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}

/* ---------------------header section styles ----------------*/
.header {
    width: 100%;
    height: 100vh;
    background-image: url('./images/banner/banner1.png');
    background-position: center;
    background-size: cover;
}



.header-content {
    width: 100%;
    height: 100vh;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-content-title span {
    display: block;
    color: #151414;
    font-size: 65px;
    font-weight: 700;
    padding-bottom: 24px;
}

.header-content-description {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 32px;
}

.header-button {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background: #F15B22;
    padding: 21px 25px 20px 26px;
    border: 0;
}


